# Find the elves carrying the most snacks! How much are they carrying (in terms of calories)? 
Author: Ariana Brenner Clerkin

#### Import Modules

In [1]:
import numpy as np
import pandas as pd

In [2]:
# data_list = list(data['Me'])
# [ord(i)-ord('X')+1 for i in data_list]

#### Global Variables

In [3]:
opponet_rock = 'A'
opponet_paper = 'B'
opponet_scissors = 'C'

x = 'rock'
y = 'paper'
z = 'scissors'

rock_win = 1
paper_win = 2 
scissors_win = 3

round_loss = 0
round_draw = 3
round_win = 6

In [62]:
strat_guide1 = pd.DataFrame({ 'mapped_weapon': ['A', 'B', 'C']
    ,'Home Weapon': ['X','Y','Z']})

strat_guide2 = pd.DataFrame({ 'mapped_weapon': ['A', 'B', 'C']
    ,'Home Weapon': ['X','Z','Y']})

strat_guide3 = pd.DataFrame({ 'mapped_weapon': ['A', 'B', 'C']
    ,'Home Weapon': ['Y','X','Z']})

strat_guide4 = pd.DataFrame({ 'mapped_weapon': ['A', 'B', 'C']
    ,'Home Weapon': ['Y','Z','X']})

strat_guide5 = pd.DataFrame({ 'mapped_weapon': ['A', 'B', 'C']
    ,'Home Weapon': ['Z','X','Y']})

strat_guide6 = pd.DataFrame({ 'mapped_weapon': ['A', 'B', 'C']
    ,'Home Weapon': ['Z','Y','X']})

In [46]:
# weapon_score_1 = pd.DataFrame({'Home Weapon': ['X','Y', 'Z']
#                              , 'winning_obj_score': [rock_win, paper_win, scissors_win]
#                              ,'mapped_desc': [opponet_rock, opponet_paper, opponet_scissors]
#                                                         })
# weapon_score_1 = pd.DataFrame({'Home Weapon': ['X','Y', 'Z']
#                              , 'winning_obj_score': [rock_win, paper_win, scissors_win]
#                              ,'mapped_desc': [opponet_rock, opponet_paper, opponet_scissors]
#                                                         })

  Home Weapon  winning_obj_score mapped_desc
0           X                  1           A
1           Y                  2           B
2           Z                  3           C

In [81]:
weapon_score = pd.DataFrame({'mapped_weapon': [opponet_rock, opponet_paper, opponet_scissors]
                             , 'wpn_pts': [rock_win, paper_win, scissors_win]
                             
                                                        })

In [82]:
weapon_score

  mapped_weapon  wpn_pts
0             A        1
1             B        2
2             C        3

#### Import Data

In [139]:
data = None
data = pd.read_csv('input.txt', sep = " ", header = None, names = ['Opponent Weapon', 'Home Weapon'])
data_w_score = None
data_w_score = data.merge(strat_guide6, on='Home Weapon', how='left')
data_w_score = data_w_score.merge(weapon_score, on='mapped_weapon', how='left')
data_w_score

     Opponent Weapon Home Weapon mapped_weapon  wpn_pts
0                  A           X             C        3
1                  B           Z             A        1
2                  C           Z             A        1
3                  B           Z             A        1
4                  B           Z             A        1
...              ...         ...           ...      ...
2495               B           Z             A        1
2496               C           X             C        3
2497               A           Y             B        2
2498               A           Y             B        2
2499               A           Y             B        2

[2500 rows x 4 columns]

In [140]:
data_w_score['play'] = data_w_score['Opponent Weapon'] + data_w_score['mapped_weapon']

In [141]:
data_w_score

     Opponent Weapon Home Weapon mapped_weapon  wpn_pts play
0                  A           X             C        3   AC
1                  B           Z             A        1   BA
2                  C           Z             A        1   CA
3                  B           Z             A        1   BA
4                  B           Z             A        1   BA
...              ...         ...           ...      ...  ...
2495               B           Z             A        1   BA
2496               C           X             C        3   CC
2497               A           Y             B        2   AB
2498               A           Y             B        2   AB
2499               A           Y             B        2   AB

[2500 rows x 5 columns]

In [142]:
# opponet_rock = 'A'
# opponet_paper = 'B'
# opponet_scissors = 'C'

In [143]:
outcome_key = pd.DataFrame({'play': ['AA', 'BB', 'CC',
                                    'AB', 'BC', 'CA',
                                    'BA', 'CB', 'AC']
                             , 'Outcome': ['Tie', 'Tie', 'Tie',
                                           'Win', 'Win','Win',
                                          'Loss', 'Loss', 'Loss']
                            })

outcome_values = pd.DataFrame({'Outcome': ['Tie','Win','Loss']
                               , 'Outcome Score': [round_draw, round_win, round_loss]
                            })

In [144]:
data_w_score = data_w_score.merge(outcome_key, on='play', how='left')

In [145]:
data_w_score = data_w_score.merge(outcome_values, on='Outcome', how='left')
data_w_score

,Opponent Weapon,Home Weapon,mapped_weapon,wpn_pts,play,Outcome,Outcome Score
0,A,X,C,3,AC,Loss,0
1,B,Z,A,1,BA,Loss,0
2,C,Z,A,1,CA,Win,6
3,B,Z,A,1,BA,Loss,0
4,B,Z,A,1,BA,Loss,0
...,...,...,...,...,...,...,...
2495,B,Z,A,1,BA,Loss,0
2496,C,X,C,3,CC,Tie,3
2497,A,Y,B,2,AB,Win,6
2498,A,Y,B,2,AB,Win,6
2499,A,Y,B,2,AB,Win,6

In [146]:
data_w_score['total_round_score'] = data_w_score['Outcome Score'] + data_w_score['wpn_pts']

In [147]:
# strat1 = np.sum(data_w_score.total_round_score)
# strat2 = np.sum(data_w_score.total_round_score)
# strat3 = np.sum(data_w_score.total_round_score)
# strat4 = np.sum(data_w_score.total_round_score)
# strat5 = np.sum(data_w_score.total_round_score)
strat6 = np.sum(data_w_score.total_round_score)

In [150]:
np.max([strat1, strat2, strat3, strat4, strat5, strat6]) == strat1

True

## Part 2